<!DOCTYPE html>
<html>
<head>
    <title>Simple Form</title>
</head>
<body>
    <h1>Weather App</h1>
    <form action="/weather_app" method="post">
        <label for="city">Enter City Name:</label>
        <input type="text" id="city" name="city" required><br><br>

        <label for="username">Enter Units:</label>
        <input type="text" id="units" name="units" required><br><br>

        <label for="username">Enter API key:</label>
        <input type="text" id="appid" name="appid" required><br><br >

        


        <input type="submit" value="Submit" >
    </form>
</body>
</html>
